.side-nav {
  margin-top: 50px;
  border-right: 2px solid;
  width: 250px;
  height: fit-content;
  border-image: linear-gradient(to bottom, $light-tan 25%, $yellow 25%, $yellow 50%, $orange 50%, $orange 75%, $red 75%) 4;
  font-weight: bold;
}