//Theme - https://coolors.co/palette/cad2c5-84a98c-52796f-354f52-2f3e46
//new theme
$light-tan: #ebeacc;
$dark-grey: #1d1c17;
$red: #d13832;
$orange: #ea8e2c;
$yellow: #dfd43d;

//old theme
$mid-tan: #DDBEA9;
$dark-tan: #CB997E;
$light-green: #B7B7A4;
$mid-green: #A5A58D;
$dark-green: #6B705C;