.title {
  display: flex;
  justify-content: center;
  width: 250px;
  font-size: 35px;
  line-height: 35px;
  margin: 5px;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 5px solid $dark-green;
  border-top: 5px solid $dark-green;
  border-radius: 10px;
}