.audio-player-button {
  width: fit-content;
  padding-bottom: 2px !important;
  padding-top: 0 !important;
  padding-left: 0 !important;

  &__icon {
    font-size: 2rem !important;
    color: black !important;
  }
}